<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>きかせて（仮）</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>

  <body>
    <header>
      <div class="header-logo">
        <h1>ロゴ</h1>
      </div>
    </header>

    <div class="container">
        <div class="profile">
            <h1>プロフィール</h1>
        </div>
        <div class="tab-contents">
            <ul class="tab4">
                <li class="tab4__item"><span class="tab4__link on" data-tab-body="1">タブ１</span></li>
                <li class="tab4__item"><span class="tab4__link" data-tab-body="2">タブ２</span></li>
                <li class="tab4__item"><span class="tab4__link" data-tab-body="3">タブ３</span></li>
                <li class="tab4__item"><span class="tab4__link" data-tab-body="4">タブ４</span></li>
                <li class="tab4__item"><span class="tab4__link" data-tab-body="5">タブ５</span></li>
              </ul>
              <div class="tab4-body">
                <div class="tab4-body__item tab4-body__item--1 on">
                  タブのコンテンツ１
                </div>
                <div class="tab4-body__item tab4-body__item--2">
                  フェードインの切り替えができます。コンテンツ２
                </div>
                <div class="tab4-body__item tab4-body__item--3">
                  コレはコンテンツ３です。
                </div>
                <div class="tab4-body__item tab4-body__item--4">
                  コンテンツ４です。
                </div>
                <div class="tab4-body__item tab4-body__item--5">
                  タブ５です。
                </div>
              </div>
              <style>
                .tab4 {
                  display: flex;
                  flex-direction: row;
                  text-align: center;
                  background-color: #fff !important;
                  margin: 0 !important;
                }
                .tab4__item {
                  flex: 1;
                }
                .tab4__link {
                  position: relative;
                  display: block;
                  text-decoration: none;
                  color: #444;
                  cursor: pointer;
                }
                .tab4__link:before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  right: 50%;
                  width: 0;
                  height: 2px;
                  background-color: #444;
                  transition: all 0.4s ease-out;
                }
                .tab4__link:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  width: 0;
                  height: 2px;
                  background-color: #444;
                  transition: all 0.4s ease-out;
                }
                .tab4__link.on:before {
                  width: 50%;
                }
                .tab4__link.on:after {
                  width: 50%;
                }
                .tab4-body {
                  position: relative;
                  height: 120px;
                }
                .tab4-body__item {
                  position: absolute;
                  width: 100%;
                  margin: 30px 15px;
                  text-align: center;
                  opacity: 0;
                  transition: all 0.6s ease-out;
                }
                .tab4-body__item.on {
                  opacity: 1;
                }
              </style>
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  var $tab__link = $('.tab4__link')
                  var $tab_body_item = $('.tab4-body__item')
                  $tab__link.on('click', function (e) {
                    var target = $(e.currentTarget)
                    //タブの表示非表示
                    $tab__link.removeClass('on')
                    target.addClass('on')
                    //タブの中身の表示非表示
                    var num = target.data('tab-body')
                    $tab_body_item.removeClass('on')
                    $('.tab4-body__item--' + num).addClass('on')
                  })
                })
              </script>
        </div>
    </div>

    <footer>
      <div class="footer-logo">
        <h1>ロゴ</h1>
      </div>
    </footer>

  </body>
</html>
