<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>きかせて（仮）</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/osusume.css' />
  </head>
  <body>
    <header>
      <div class="header-logo">
              <h1>ロゴ</h1>
      </div>
    </header>
    
    <footer>
      <div class="footer-logo">
        <h1>ロゴ</h1>
      </div>
    </footer>
  </body>
</html>
