<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>きかせて（仮）</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/register.css' />
  </head>
  <body>
    <header>
      <div class="header-logo">
              <h1>ロゴ</h1>
      </div>
    </header>
    <div class="container">
      <div class="form">
        <h2>きかせて</h2>
      </div>
      <div class="acc-create">
        <p>アカウントの新規作成</p>
      </div>
    </div>
    <footer>
      <div class="footer-logo">
        <h1>ロゴ</h1>
      </div>
    </footer>
  </body>
</html>