<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>きかせて（仮）</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/top.css' />
  </head>
  <body>
    <header>
      <div class="header-logo">
              <h1>ロゴ</h1>
      </div>
    </header>
    <div class="container">
      <div class="form">
        <p class="catchcopy">キャッチコピー</p>
        <h2>きかせて</h2>
        <a href="#" class="newaccount" >アカウントの新規作成はこちら</a>
      </div>
      <div class="twitterlogin">
        <p>アカウントをお持ちの方はこちら</p>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterでサインイン</a>
      </div>
      <div class="manual">
        <h3>使い方</h3>
      </div>
    </div>
    <footer>
      <div class="footer-logo">
        <h1>ロゴ</h1>
      </div>
    </footer>
  </body>
</html>
