<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ロゴ</title>
    <link rel='stylesheet' href='/stylesheets/top.css' />
  </head>
  <body>
    <%- include( 'components/_header.ejs',{ rightup: 'ログイン' } ); %>
    <div class="form">
      <div class="form-mail">
        <label for="mail">メールアドレス</label>
        <input type="text" name="mail" id="mail">
      </div>
  
      <div class="form-password">
        <label for="password">パスワード</label>
        <input type="password" name="password" id="password">
      </div>
      
      <input class="form-box" type="submit" value="ログイン">
    </div>
  </body>
</html>
