.header {
    background-color: rgb(23, 225, 40);
    height: 85px;
    margin-bottom: 50px;
}
.header-logo h1 {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    float: left;
}
.header-logo span {
    color: white;
    font-size: 50px;
}
.header-logo2 {
    color: white;
    font-size: 30px;
    float: right;
    padding: 33px 50px 0px 5px;
}

.form {
    font-size: 21px;
}
.form-mail label {
    padding: 0px 20px 0px 25px;
}
.form-mail input {
    padding: 4px 10px 0px 5px;
}
.form-password {
    float: left;
    margin-top: 10px;
}
.form-password label {
    padding: 0px 61px 0px 25px;
}
.form-password input {
    margin-right: 20px;
    padding: 4px 11px 0px 5px;
}
.form-box {
    margin-top: 13px;
}