body {
    margin: 0px;
    font-family: "Hiragino Kaku Gothic ProN";
  }

header {
    background-color: #ffc175;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.container {
    background-size: cover;
}

.header-logo h1 {
    color: white;
    font-size: 30px;
    padding-left: 20px;
    float: left;
}

.form {
    text-align: center;
    margin-left: 110px;
    margin-right: 110px;
}

.form h2 {
    font-size: 160px;
    margin-top: 180px;
}


.acc-create {
    height: 200px;
    text-align: center;

}

.acc-create p {
    font-size: 30px;
    font-weight: 500;
}


.box17 {
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-align: center;
}
.box17:before, .box17:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 0; 
    padding: 0;
}


footer {
    background-color: #ffffff;
    height: 65px;
    width: 100%;
}

.footer-logo h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 12px;
    margin: 0px;
}